body {
    background-image: url("../images/bg_home_2.jpg");
    font-family: Arial, sans-serif;
    font-weight: lighter;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
}

header {
    color: black;
    width: 1600px;
    height: 990px;
    text-align: center;
    margin: 0 auto;
}

.top {
    height: auto;
    width: 100%;
    margin-left: 0;

    position: fixed;
    top: 0;
    margin-bottom: 5px;
}

.top ul {
    width: auto;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
}

.top li {
    float: left;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}

.top li a {
    display: block;
    color: black;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none;
}

.top li a:hover {
    background: #5993bb;
}

.top ul li ul {
    margin-left: -0.2px;
    background: rgb(189, 181, 181);
    position: relative;
    display: none;
}

.top ul li ul li {
    float: none;
    text-align: center;
}

.top ul li:hover ul{
    display: block;
}

#title_aboutUs {
    display: inline-block;
    font-size: 64px;
    padding-top: 200px;
    width: 960px;
}

#titlebottom_aboutUs {
    display: inline-block;
    box-sizing: border-box;
    width: 960px;
    font-size: 24px;
    padding: 70px 70px 100px 70px;
}

#signUp_aboutUs {
    display: inline-block;
    border: 1px solid black;
    width: 700px;
    height: 75px;
}

#signUp_aboutUs a {
    background-color: gray;
    color: antiquewhite;
    width: 120px;
    height: 60px;

}

section {
    width: 1600px;
    margin: 0 auto;
    border-bottom: 1px solid;
}

#members {
    width: 960px;
    height: 1080px;
    margin: 0 auto;
    text-align: center;
}

#members div:first-child {
    font-size: 48px;
    margin-top: 100px;
}

#members div:nth-child(2) {
    width: 700px;
    margin: 0 auto;
}

#membersPhoto {
    width: 960px;
    height: 750px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#membersPhoto img {
    width: 440px;
    height: 330px;
}

#contact {
    width: 1920px;
    height: 980px;
    margin: 0 auto;
}

#contact > div {
    width: 960px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#con {
    text-align: left;
    width: 250px;
    height: 250px;
    margin-top: 80px;
    margin-left: 90px;
}