
h2 {
    background-color: white;
    color: cornflowerblue;
    font-size: 300%;
}



img {

    width: 35%;
    border: 7px solid #DEB887;
    border-radius: 7px ;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}


body {
    background-image: url(../../static/images/menu.jpg);
    background-attachment: fixed;
        }
