h1 {
    color: red;
    font-size: 50px;
    margin: 0;
    background-color: green;
    text-align: center;
}

img {

    width: 35%;
    border: 7px solid #DEB887;
    border-radius: 7px ;
}

body {
    background-color: yellow;
        }