<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY Addresses</title>
</head>
<body>

<h1>Your Addresses</h1>

{% for a in addresses %}
    <p>{{ a.streetNum }}</p>
    <p>{{ a.state }}</p>
    <p>{{ a.zipcode }}</p>
    <p>{{ a.city }}</p>
    <a href="{% url 'chineseSpicyFlavor:address_edit' pk=a.pk %}"
                           class="btn btn-warning">Edit</a>
    <a href="{% url 'chineseSpicyFlavor:address_delete' pk=a.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
        <p>*****************</p>

{% endfor %}


<a href="{% url 'chineseSpicyFlavor:address_new' %}" class="row"><span
                    class="btn btn-primary">Add Address</span></a>
</body>
</html>