{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Order Now!{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>

<body>

<div class="top">
    <div style="text-align: center;">
        <ul>
            <li><a href="{% url 'chineseSpicyFlavor:covidWarning' %}">Home Page</a></li>

            {% if request.user.is_authenticated %}
            <li><a href="#">ACCOUNT</a>
                <ul>

                    <li><a href="{% url 'chineseSpicyFlavor:edit' %}">Edit Account</a></li>

                </ul>
            </li>

            <li><a href="#">ADDRESSES</a>
                <ul>

                    <li><a href="{% url 'chineseSpicyFlavor:address_new' %}">Add an address</a></li>
                    <li><a href="{% url 'chineseSpicyFlavor:displayAddresses' %}">My Addresses</a></li>

                </ul>
            </li>

            <li><a href="#">MENU</a>
                <ul>
                    <li><a href="{% url 'chineseSpicyFlavor:product_list' %}">Foods</a></li>
                    <li><a href="{% url 'chineseSpicyFlavor:product_list' %}">Order Now</a></li>
                </ul>
            </li>

            <li><a href="#">Order</a>
                <ul>
                    <li><a href="{% url 'chineseSpicyFlavor:product_list' %}">Create Order</a></li>
                    <li><a href="{% url 'chineseSpicyFlavor:myOrders' %}">My Orders</a></li>

                </ul>
            </li>

            <ul>
                <li><a href="{% url 'chineseSpicyFlavor:logout' %}">Logout</a></li>
            </ul>
            {% endif %}
        </ul>
    </div>
</div>

<div class="Top_Top">
    <div id="header">
        <h3>Order Now!</h3>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>

    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>