{% extends "shop/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <h1>Checkout</h1>

  <div class="order-info">
    <h3>Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>
  </div>

    <h3>Delivery Info:</h3>
    <h5>{{ user.profile.city }}</h5>
    <h5>{{ user.profile.state }}</h5>
    <h5>{{ user.profile.streetNum }}</h5>
    <h5>{{ user.profile.zipcode }}</h5>
    <a href="{% url 'chineseSpicyFlavor:editDeliveryPref' %}">Edit Delivery Preferences</a><br>




  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
  </form>
{% endblock %}