{% extends "shop/base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h1>Checkout</h1>

    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_price }}</p>
    </div>


    {% for a in addresses %}
        <div class="addressListing">
            <p>{{ a.streetNum }}</p>
            <p>{{ a.state }}</p>
            <p>{{ a.zipcode }}</p>
            <p>{{ a.city }}</p>
            <a href="{% url 'chineseSpicyFlavor:address_edit' pk=a.pk %}"
               class="btn btn-warning">Edit</a>
            <a href="{% url 'chineseSpicyFlavor:address_delete' pk=a.pk %}"
               onclick="return confirm('Are you sure you want to delete?')"
               class="btn btn-danger">Delete</a><br>
           <input type="radio">

        </div>

    {% endfor %}




    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
{% endblock %}