<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Desserts</title>
</head>

<body>
    <div class="page-container">
           <h1>Do not forget to add delicious, mouth-watering traditional Chinese desserts with your food. </h1>
    </div>

    <style>




        h2 {
            color: black;
        }

        img{
            width: 10%;

            border-radius: 7px ;

        }

        p {
            text-align: left;
            color: blue;

        }
        body {
            background: transparent url(../../static/images/menu.jpg) fixed;
        }

    </style>

    <div class="content container">
       <div class="row">
           <div class="links">
               <div class="col-sm-1">


                   <div class = "row">
                       <div class="col-sm-1">
                           <img src="{% static "images/Spring Rolls.webp" %}" alt="Spring Rolls"/>
                           <div class="caption">
                               <h2>Spring Roll: $10.00</h2>
                               <p>Couple of rolls serve with Hot Ginger soy sauce.</p>
                           </div>
                       </div>
                   </div>

                   <div class = "row">
                       <div class="col-sm-1">
                           <img src="{% static "images/CrabRangoon.jpg" %}" alt="CrabRangoon"/>
                           <div class="caption">
                               <h2>Crab Rangoons: $10.00</h2>
                               <p> Four Hot Crab Rangoons serve with hot sauce.  </p>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
       </div>
    </div>

</body>

{% endblock %}
</html>