<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Drinks</title>
</head>

<body>
    <div class="page-container">
           <h1>Match your food with favorite fruit drinks. </h1>
    </div>

    <style>




        h2 {
            color: black;
        }

        img{
            width: 10%;

            border-radius: 7px ;

        }

        p {
            text-align: left;
            color: blue;

        }
        body {
            background: transparent url(../../static/images/menu.jpg) fixed;
        }

    </style>

    <div class="content container">
       <div class="row">
           <div class="links">
               <div class="col-sm-1">


                   <div class = "row">
                       <div class="col-sm-1">
                           <img src="{% static "images/bubble tea.jpeg" %}" alt="Bubble Tea"/>
                           <div class="caption">
                               <h2>Bubble Tea: $9.00</h2>
                               <p>Choose your own kind of fruits to make a bubble tea drink..</p>
                           </div>
                       </div>
                   </div>



               </div>
           </div>
       </div>
    </div>

</body>

{% endblock %}
</html>