<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Entrees</title>
</head>

<body>
    <div class="page-container">
           <h1>Choose your choice of entree and match it with your favorite sides, drinks and desserts: </h1>
    </div>

    <style>




        h2 {
            color: black;
        }

        img{
            width: 10%;

            border-radius: 7px ;

        }

        p {
            text-align: left;
            color: blue;

        }
        body {
            background: transparent url(../../static/images/menu.jpg) fixed;
        }

    </style>

    <div class="content container">
       <div class="row">
           <div class="links">
               <div class="col-sm-1">
                   <div class = "row">
                       <div class="col-sm-1">
                           <img src="{% static "images/sesamechk.jpg" %}" alt="sesamechk"/>
                           <div class="caption">
                               <h2>Sesame Chicken :$11.00</h2>
                               <p>Boneless Chicken marinated with orange sauce and topped with sesame. Add some spicy to your chicken.</p>
                           </div>
                       </div>
                   </div>

                   <div class = "row">
                       <div class="col-sm-1">
                           <img src="{% static "images/spareribs.jpg" %}" alt="spareribs"/>
                           <div class="caption">
                               <h2>Spicy Spare Ribs :$35.00</h2>
                               <p>Bone-In Ribs marinated with hot spicy sauce.Get it with mango drink.</p>
                           </div>
                       </div>
                   </div>

                   <div class = "row">
                       <div class="col-sm-1">
                           <img src="{% static "images/Momo.jpg" %}" alt="Momo"/>
                           <div class="caption">
                               <h2>Momo:$30.00</h2>
                               <p>Nepali style dumplings stuffed with vegetable and your choice of meat. We served this with tomato and sesame chutney.</p>
                           </div>
                       </div>
                   </div>

                   <div class = "row">
                       <div class="col-sm-1">
                           <img src="{% static "images/BeefBro.jpg" %}" alt="BeefBro"/>
                           <div class="caption">
                               <h2>Beef Broccoli:$30.00</h2>
                               <p> Beef and broccoli marinated with spicy sauce and served with side of rice.</p>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
       </div>
    </div>

</body>

{% endblock %}
</html>