<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>Chinese Spicy Flavor</title>
    <style>
    </style>
</head>

<body>

<header class="header">
    <img align="left" src="../static/images/logo_home.PNG" height="400" width="490">
</header>

<div class="musicPlayer" align="right">
    <audio autoplay="autoplay" controls="controls" loop="loop" preload="auto">
        <source src="../static/Music/02.mp3" type="audio/mpeg">
    </audio>
</div>

<div class="home">
    <div class="ChPicture"></div>

</div>
<div class="row">
    <div class="left">
        <h2>Search</h2>

        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Searching..." title="Search bar">
        <ul id="myMenu">
            <li><a href="{% url 'chineseSpicyFlavor:item_list' %}">Foods</a></li>
            <li><a href="{% url 'chineseSpicyFlavor:home' %}">Home</a></li>
            <li><a href="{% url 'chineseSpicyFlavor:about' %}">About</a></li>
            <li><a href="{% url 'chineseSpicyFlavor:menu' %}">Menu</a></li>
            <li><a href="{% url 'chineseSpicyFlavor:order_now' %}">Order Now</a></li>
            <li><a href="{% url 'chineseSpicyFlavor:register' %}">Sign Up</a></li>
            <li><a href="{% url 'chineseSpicyFlavor:user_login' %}">Login</a></li>
        </ul>
    </div>

    <div class="right">
        <h2>Welcome to Chinese Spicy Flavor</h2>
        <p>Welcome to Chinese Spicy Flavor Chinese restaurant!</p>
        <p>It's my great honor to serve you. Here, I guarantee you can taste the best Chinese cuisine in the world.</p>
        <P>In order to facilitate your ordering, we set up a search bar and a navigation bar on the left.</P>
        <p>You can use the search bar and the navigation bar to go to any page you want.</p>
        <P>I strongly recommend that you register an account first so that you can order food in the future.</P>
        <P>Enjoy and stay safe!</P>
    </div>

    <script type="text/javascript">
        function myFunction() {
            var input, filter, ul, li, a, i;

            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myMenu");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

</div>

</body>


</html>