<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Now</title>
    <link rel="stylesheet" href="../static/css/order.css">
</head>
<body>
    <h1> You don't need to sign up to order the food </h1>
    <p> You can just order the food from this by selecting the items you want to order </p>
<div id="chowmein">
    <img src="{% static "images/chowmein.jpg" %}" alt="chowmein"/>
</div>
<div id="Momo">
    <img src="{% static "images/momo.jpg" %}" alt="momo"/>
</div>
</body>
</html>