<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Now</title>
    <link rel="stylesheet" href="../static/css/order_now.css">
</head>
<body>
    <div>
        <h1> The Best Food In The Town(ChineseSpicyFlavor)</h1>
    </div>
    <div>
        <h2>
        <a href="{% url 'chineseSpicyFlavor:home' %}">
            <input type="submit" value="Home">
        </a>
        </h2>
    </div>
    <div><h5> Select the items you would like to order </h5></div>
    <div class="content container">
        <div>
            <img src="{% static "images/chowmein.jpg" %}" alt="chowmein" />
        </div>
        <div>
            <h4> Chow-mein  $25.00 </h4>
        </div>
        <div>
            <img src="{% static "images/momo.jpg" %}" alt="momo"/>
        </div>
        <div>
            <h4> Momo $30.00 </h4>
        </div>
    </div>
    <div class="content container2">
        <div>
            <img src="{% static "images/spareribs.jpg" %}" alt="spareribs"/>
        </div>
        <div>
            <h4> Spicy Spareribs $35.00 </h4>
        </div>
        <div>
            <img src="{% static "images/beverage.jpg" %}" alt="beverage"/>
        </div>
        <div>
            <h4> Popular Chinese Beverage $5.00 </h4>
        </div>
    </div>
</body>
</html>